<div class="list-group">
	<div class="list-group-item">
		<h3>Simple table with ng-repeat</h3>
		<table class="table table-striped" wt-responsive-table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Performance</th>
					<th>Name</th>
					<th>Email</th>
					<th>Product</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in ordersList">
					<td>{{order.timeAgo + " ago"}}</td>
					<td> ---- </td>
					<td>{{order.first_name + " " + order.last_name}} </td>
					<td>{{order.payer_email}}</td>
					<td>{{order.item_name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>